---
layout: page
title: Barnard BEARS
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">Barnard BEARS: Better, Enhance, and Advance Research Series:</h1>
          <p class="animated fadeInUp"> A workshop and mentorship series
preparing Barnard undergraduates for opportunities in Computer Science
research.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About BEARS</h2>
            <p>BEARS is a new program organized in collaboration with Barnard Computer Science and the <a href="https://csc.barnard.edu/">Vagelos Computational Science Center (CSC)</a> for the 2021-2022 academic year. 
BEARS 
aims to show Barnard students what a successful career in Computer Science research looks like. BEARS participants will be able to speak to faculty about their research expertise, join a pod of students with shared research interests, and have access to mentorship from a PhD or postdoc in Computer Science. 

This opportunity is open to Barnard students interested in Computer Science research and excited to join a tight-knit community of likeminded peers.




</p> 
          </div>
          <p> BEARS consists of multiple events including monthly presentations by CS faculty and hands-on technical workshops run in partnership with the CSC.
BEARS participants will be divided into small groups 
led by Columbia graduate students. These groups will serve as smaller support systems during the academic 2021-2022 year and beyond. Participants will also be encouraged to apply for summer research opportunities at Barnard, Columbia, and other insititutions.</p>
        </div>
      </div><!-- .col-md-7 close -->
    </div>
  </div>
</section>

<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Apply!</h2>
          <p>BEARS is seeking Barnard students interested in majoring in Computer Science or other related fields.</p>
          <p>Please apply by Monday October 11th.</p> 
          <a class="btn btn-default btn-call-to-action" href="https://forms.gle/ZmxcYYmrZJSkmaFA6" target=_blank >Application</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Content Start
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="assets/img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
-->
