<!-- Header Start -->
<header class="navbar navbar-fixed-top navbar-default" role="banner">
  <div class="container">
    <div class="row">
        <!-- header Nav Start -->
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html">
                <img src="{{ site.baseurl }}/assets/img/bc_cs_trimmed.png" alt="Logo">
              </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <!---<li><a href="{{ site.baseurl }}/About">About</a></li>
                <li><a href="{{ site.baseurl }}/Faculty Seminar Series">Faculty Talks</a></li>-->
                <!---<li><a href="{{ site.baseurl }}/workshops">Tutorials</a></li>-->
                <!---<li><a href="{{ site.baseurl }}/people">People</a></li>--->
                <!---
                <li><a href="{{ site.baseurl }}/BEARS-Participant-Flyer.pdf">Apply - Participant</a></li>
                <li><a href="https://forms.gle/Di8SnyJoBrB9bRuQ6" target=_blank>Apply - Mentor</a></li>
                -->
                <!---<li><a href="{{ site.baseurl }}/faqs">FAQs</a></li>--->
                <li><a href="http://cs.barnard.edu/" target=_blank>Barnard CS</a></li>
                <li><a href="http://csc.barnard.edu/" target=_blank>Vagelos Computational Science Center</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
</header><!-- header close -->
